<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<h1>employees</h1>

<%= form_with(model: [ @company, Employee.new ]) do |form| %>

<%= form.label :first_name, "Nombre"%>
<%= form.text_field :first_name %>
<br>
<%= form.label :last_name, "Apellido"%>
<%= form.text_field :last_name %>
<br>
<%= form.label :email, "Email"%>
<%= form.text_field :email %>
<br>
<%= form.label :area%>
<%= form.select :area_id, Area.pluck(:name, :id) %>

<%= form.submit 'Crear Empleado', class:'btn btn-primary' %>
<%end%>

<br>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<h1>Emmpleados</h1>
<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Email</th>
    <th>Area</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @company.employees.each do |employee| %>
<tbody>
  <tr>
    <td> <%= employee.first_name %> </td>
    <td> <%= employee.last_name %> </td>
    <td> <%= employee.email %> </td>
    <td> <%= employee.area.name %> </td>
    <td> <%= link_to "Destroy", company_employee_path(@company, employee), method: :delete %> </td>
  <%end%>
  </tr>
</tbody>
  </table>
